
.share {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.123);
}

button.share:focus {
  outline: none;
  border: none;
}

button.share:hover { 
  outline: none;
  box-shadow: inset 2px 2px 8px 3px rgba(0, 0, 0, 0.123);
}

.share img {
  width: 20px;
  height: 20px;
}

.trees-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.children-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.box-wrapper {
  margin: 10px;
  cursor: pointer;
}

.box { 
  position: relative;
  display: block;
  width: 510px;
  height: 470px;
  background: none;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.123);
}

div.box-wrapper:focus { 
  outline: none;
  box-shadow: inset 2px 2px 8px 3px rgba(0, 0, 0, 0.123);
}

div.box-wrapper:hover { 
  outline: none;
  box-shadow: inset 2px 2px 8px 3px rgba(0, 0, 0, 0.123);
}

.box.parent {
  box-shadow: none;
  cursor: auto;
}

.center-circle {
  position: absolute;
  top: 16.5%;
  left: 22%;
  width: 60%;
  height: 40%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 2;
}

.center-circle-copy {
  position: absolute; 
  width: 100%;
  height: 100%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 2;
}

.fruties-container {
  position: absolute;
  width: 68%;
  height: 77%;
  z-index: 3;
  left: 16%;
  top: 15%;
}

.tree-frutie {
  position: absolute;
  width: 10%;
  height: 15%;
  border-radius: 50%;
  background: orange;
  z-index: 3;
  left: 20%;
  top: 20%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.123);
}

.fruties-container :nth-child(2){
  left: 80%;
}

.fruties-container :nth-child(3){
  left: 50%;
  top: 60%;
}

.leaf-one {
  position: absolute;
  border: solid 1px black;
  width: 30%;
  border-radius: 50%;
  height: 35%;
  background: #A6BECF;
  transform: rotate(-20deg);
  z-index: 1;
}

.leaf-two {
  position: absolute;
  border: solid 1px black;
  width: 30%;
  border-radius: 50%;
  height: 35%;
  background: #A6BECF;
  transform: rotate(-5deg);
  z-index: 1;
  left: 25%;
  bottom: 80%;
}

.leaf-three {
  position: absolute;
  border: solid 1px black;
  width: 30%;
  border-radius: 100%;
  height: 30%;
  background: #A6BECF;
  transform: rotate(20deg);
  z-index: 1;
  left: 53%;
  bottom: 82%;
}

.leaf-four {
  position: absolute;
  border: solid 1px black;
  width: 30%;
  border-radius: 100%;
  height: 30%;
  background: #A6BECF;
  transform: rotate(45deg);
  z-index: 1;
  left: 75%;
  bottom: 60%;
}

.leaf-five {
  position: absolute;
  border: solid 1px black;
  width: 30%;
  border-radius: 100%;
  height: 30%;
  background: #A6BECF;
  transform: rotate(105deg);
  z-index: 1;
  left: 80%;
  bottom: 23%;
}

.leaf-six {
  position: absolute;
  border: solid 1px black;
  width: 30%;
  border-radius: 100%;
  height: 30%;
  background: #A6BECF;
  transform: rotate(160deg);
  z-index: 1;
  left: 60%;
  bottom: -5%;
}

.leaf-seven {
  position: absolute;
  border: solid 1px black;
  width: 30%;
  border-radius: 100%;
  height: 30%;
  background: #A6BECF;
  transform: rotate(180deg);
  z-index: 1;
  left: 35%;
  bottom: -13%;
}

.leaf-height {
  position: absolute;
  border: solid 1px black;
  width: 30%;
  border-radius: 100%;
  height: 30%;
  background: #A6BECF;
  transform: rotate(200deg);
  z-index: 1;
  left: 7%;
  bottom: -9%;
}
.leaf-nine {
  position: absolute;
  border: solid 1px black;
  width: 30%;
  border-radius: 100%;
  height: 40%;
  background: #A6BECF;
  transform: rotate(260deg);
  z-index: 1;
  left: -12%;
  bottom: 22%;
}
.leaf-ten {
  position: absolute;
  border: solid 1px black;
  width: 30%;
  border-radius: 100%;
  height: 30%;
  background: #A6BECF;
  transform: rotate(45deg);
  z-index: 1;
  top: 30%;
  left: 45%;
  display: none;
}

.trunk {
  position: relative;
  width: 30%;
  background-color: brown;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  bottom: -80%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.123);
}

.tree-presentation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
