.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 500px;
  height: 420px;
  background: none;
  
}

.center-circle {
    position: absolute;
    top:16.5%;
    left: 25%;
    width: 70%;
    height: 50%;
    background: #A6BECF;
    border-radius: 50%;
    z-index: 2;
}

.center-circle-copy {
    position: absolute; 
    width: 100%;
    height: 100%;
    background: #A6BECF;
    border-radius: 50%;
    z-index: 2;
}

.leaf-one {
    position: absolute;
    border: solid 1px black;
    width: 30%;
    border-radius: 50%;
    height: 35%;
    background: #A6BECF;
    transform: rotate(-20deg);
    z-index: 1;
}

.leaf-two {
    position: absolute;
    border: solid 1px black;
    width: 30%;
    border-radius: 50%;
    height: 35%;
    background: #A6BECF;
    transform: rotate(-5deg);
    z-index: 1;
    left: 25%;
    bottom: 80%;
}

.leaf-three {
    position: absolute;
    border: solid 1px black;
    width: 30%;
    border-radius: 100%;
    height: 30%;
    background: #A6BECF;
    transform: rotate(20deg);
    z-index: 1;
    left: 53%;
    bottom: 82%;
}

.leaf-four {
    position: absolute;
    border: solid 1px black;
    width: 30%;
    border-radius: 100%;
    height: 30%;
    background: #A6BECF;
    transform: rotate(45deg);
    z-index: 1;
    left: 75%;
    bottom: 60%;
}

.leaf-five {
    position: absolute;
    border: solid 1px black;
    width: 30%;
    border-radius: 100%;
    height: 30%;
    background: #A6BECF;
    transform: rotate(105deg);
    z-index: 1;
    left: 80%;
    bottom: 23%;
}

.leaf-six {
    position: absolute;
    border: solid 1px black;
    width: 30%;
    border-radius: 100%;
    height: 30%;
    background: #A6BECF;
    transform: rotate(160deg);
    z-index: 1;
    left: 60%;
    bottom: -5%;
}

.leaf-seven {
    position: absolute;
    border: solid 1px black;
    width: 30%;
    border-radius: 100%;
    height: 30%;
    background: #A6BECF;
    transform: rotate(180deg);
    z-index: 1;
    left: 35%;
    bottom: -13%;
}

.leaf-height {
    position: absolute;
    border: solid 1px black;
    width: 30%;
    border-radius: 100%;
    height: 30%;
    background: #A6BECF;
    transform: rotate(200deg);
    z-index: 1;
    left: 7%;
    bottom: -9%;
}
.leaf-nine {
    position: absolute;
    border: solid 1px black;
    width: 30%;
    border-radius: 100%;
    height: 40%;
    background: #A6BECF;
    transform: rotate(260deg);
    z-index: 1;
    left: -12%;
    bottom: 22%;
}
.leaf-ten {
    position: absolute;
    border: solid 1px black;
    width: 30%;
    border-radius: 100%;
    height: 30%;
    background: #A6BECF;
    transform: rotate(45deg);
    z-index: 1;
    top: 30%;
    left: 45%;
    display: none;
}

.trunk {
  position:absolute;
  width: 30%;
  background-color: brown;
  height: 100%;
  left: 35%;
  bottom: -70%;
}